html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: sans-serif;
  color: #2a2a2a; }

a {
  color: #0388a6; }
  a:hover {
    color: #009ce0; }

h1 {
    color: aqua;
    text-shadow: 10px 10px 30px #d5e2e6;
    font-size: 48px;
    font-family: 'Mansalva', cursive;
    padding: 100px;
    text-align: center;
    background-image: url('Sisters.png');
    background-repeat: repeat-x;
}

.image1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 60px;
}


.firstnav-active {
        width:150px;
        height:50px;
        line-height:50px;
        text-align: center;
        float: left;
        color: white;
        font-size: 20px;
        background-color: black;
}

.firstnav-link {
    text-decoration: none;
    color: white;
}

.secondnav-active {
    width:150px;
    height:50px;
    line-height:50px;
    text-align:center;
    float: left;
    color: white;
    font-size: 20px;
    background-color: black;
}

.secondnav-link {
    text-decoration: none;
    color: white;
}


.dropbtn {
    width:150px;
    height:50px;
    line-height:50px;
    text-align:center;
    text-decoration:none;
    color: blueviolet;
    font-size: 18px;
    background-color: black;
    border:none;
    float: left;
}

.dropbutton-items {
    display: inline-block;
    padding: 5px;

}

.dropdown-item {
    text-decoration: none;
    color: rgb(255, 153, 0);
}